                    <!-- 医生介绍 -->
                   	<div class="hsDoctor">
			                <div class="container">
			                <!-- 标题 -->
			                    <div class="hsDoctor_title">
			                       <h3 >医生列表</h3>
			                    </div>
			                    <!-- 主体内容 -->
			                    <div class="hsDoctor_content row">
			                    <!-- 左侧科室列表 -->
			                        <div class="hsDoctor_content_list col-xs-2">
			                          <ul>
			                            <li class="active first"><a href="#">内科</a></li>
			                            <li><a href="#">外科</a></li>
			                            <li><a href="#">神经科</a></li>
			                            <li><a href="#">妇科</a></li>
			                            <li><a href="#">内科</a></li>
			                            <li><a href="#">内科</a></li>
			                            <li><a href="#">内科</a></li>
			                            <li><a href="#">内科</a></li>
			                            <li><a href="#">内科</a></li>
			                            <li class="last"><a href="#">内科</a></li>
			                          </ul>
			                        </div>
			                        <!-- 右侧医生列表 -->
			                        <div class="row col-xs-10 hsDoctor_content_detail">
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>  
			                             <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>  
			                             <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-4 second">
			                                <div class="thumbnail">
			                                    <a href="#"><img data-src="holder.js/300x300" src="./img/famdoc.jpg" alt="医生"></a>
			                                    <div class="caption">
			                                        <h3>华佗</h3>
			                                        <p>主任医师</p>
			                                        <p>外科</p>
			                                        <p>擅长老年综合内科擅长老年综合内科<a href="#">...[详情]</a></p>
			                                    </div>
			                                </div>
			                            </div>  
			                        </div>
			                      </div>
			                    </div>        
			                            
			
			                     
			                </div>
                