
<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/changePsd.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/changePsd.js"></script>
    <!--[if lt IE 9]>
        <script src="./lib/html5shiv/html5shiv.js"></script>
        <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
    <body>
        <div class="hsResetPsd">
            <div class="container">
                  <!-- 标题 -->
                    <div class="hsResetPsd_title">
                        <h3>重置密码</h3>
                    </div>
                    <!-- 重置密码 -->
                    <div class="hsResetPsd_info">
                        <div class="hsResetPsd_info_tip">
                            验证通过！请重新设置您的登录密码
                        </div>
                        <table class="hsResetPsd_info_reset">
                            <tr class="hsResetPsd_info_reset_psd">
                                <td class="left">重置密码：</td>
                                <td class="right">
                                    <input type="password">
                                    <div class="tip">
                                        <i class="icon iconfont icon-x"></i>
                                        <span>密码不能为空</span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="hsResetPsd_info_reset_psdAgain">
                                <td class="left">请再次输入密码：</td>
                                <td class="right">
                                    <input type="password">
                                    <div class="tip">
                                        <i class="icon iconfont icon-x"></i>
                                        <span>密码不能为空</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left"></td>
                                <td class="right">
                                    <button class="btn btn-primary sure">确定</button>
                                    <button class="btn btn-default quite">取消</button>
                                </td>
                            </tr>
                        </table>
                    </div> 
            </div>
        </div>
    </body>
</html>