
<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/confirmInfo.css"/> 
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/confirmInfo.js"></script>
   <!--  [if lt IE 9]>
       <script src="./lib/html5shiv/html5shiv.js"></script>
       <script src="./lib/respond/respond.js"></script>
   <![endif] -->
</head>
    <body>
        <div>
            <div class="container">
                <!-- 确认信息部分 -->
                <div class="hsReg_cont_confirm">
                    <!-- 提示 -->
                    <div class="hsReg_cont_confirm_tip">
                        <i class="icon iconfont icon-jinggao"></i>
                        为保证您顺利完成预约就诊过程，请使用就诊者本人的真实信息
                    </div>  
                    <!-- 确认内容-->
                    <div class="hsReg_cont_confirm_info">
                        <table>
                            <tr>
                                <td class="left">姓名：</td>
                                <td class="right">哈哈</td>
                            </tr>
                            <tr>
                                <td class="left">证件类型：</td>
                                <td class="right">身份证</td>
                            </tr>
                             <tr>
                                <td class="left">证件号码：</td>
                                <td class="right">130281199903292027</td>
                            </tr>
                            <tr>
                                <td class="left">出生日期：</td>
                                <td class="right">1999年3月29日</td>
                            </tr>
                            <tr>
                                <td class="left">手机号码：</td>
                                <td class="right">13022229999</td>
                            </tr>
                            <tr class="hsReg_cont_confirm_info_btn">
                                <td><button class="btn register">注册</button></td>
                                <td><button class="btn modify ">返回修改</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>