  
 
            <div class="hsDepartment">
                <div class="container">
                 <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">科室排班表</a></li>
                      <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">科室介绍</a></li>
                      <li role="presentation"><a ng-click="a()" role="tab" data-toggle="tab">科</a></li>
                      <li role="presentation" class="pull-right backList"><a href="#settings" role="tab" >返回科室列表</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active clearfix" id="home">
                           <!-- 预约时间表 -->
                            <table class="pull-left hsDepartment_table">
                                <tr>
                                    <th class="hsDepartment_table_rowZuo"><i class="icon iconfont icon-552cd677b11f5"></i></th>
                                    <th class="hsDepartment_table_date">
                                        <div>
                                            <ul class="clearfix dateTime">
                                                <li class="left">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li class="right">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li class="left">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li class="right">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li class="left">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li class="right">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li class="left">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                  <li >
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li class="right">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                 <li class="left">
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                <li>
                                                    <p class="week"></p>
                                                    <p class="date"></p>
                                                </li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th class="hsDepartment_table_rowYou"><i class="icon iconfont icon-icon224"></i></th>
                                </tr>
                                <tr>
                                    <td class="hsDepartment_table_appTime">早上</td>
                                    <td class="hsDepartment_table_cont">
                                        <div>
                                            <ul class="clearfix ">
                                                <li name="usengam" class="left"></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" class="right"></li>
                                                <li name="usengam" class="left"></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" class="right"></li>
                                                <li name="usengam" class="left"></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" class="right"></li>
                                                <li name="usengam" class="left"></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" ></li>
                                                <li name="usengam" class="right"></li>
                                                <li name="usengam" class="left"></li>
                                                <li name="usengam" ></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li class="right"></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td rowspan="3" class="hsDepartment_table_rowspan"></td>
                                </tr>
                                 <tr>
                                    <td class="hsDepartment_table_appTime">下午</td>
                                    <td  class="hsDepartment_table_cont">
                                        <div>
                                            <ul class="clearfix ">
                                                <li name="usengpm" class="left"></li>
                                                <li name="usengpm"  ></li>
                                                <li name="usengpm"  ></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm" class="right" ></li>
                                                <li name="usengpm" class="left" ></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm" class="right"></li>
                                                <li name="usengpm" class="left"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm" ></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm" class="right"></li>
                                                <li name="usengpm" class="left"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm" ></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm"></li>
                                                <li name="usengpm" class="right"></li>
                                                <li name="usengpm" class="left"></li>
                                                <li name="usengpm"></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li class="right"></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                              <!-- 预约规则 -->
                            <div class="hsDepartment_rule pull-right">
                               <ul>
                                   <li class="hsDepartment_rule_title">
                                       <h3>预约规则</h3>
                                   </li>
                                   <li class="hsDepartment_rule_content">
                                        <ul>
                                            <li>
                                                <i>预约周期：</i>
                                                <span>7天</span>
                                            </li>
                                            <li>
                                                <i>放号时间：</i>
                                                <span>8:30</span>
                                            </li>
                                            <li>
                                                <i>停挂时间：</i>
                                                <span>下午14:00停止次日预约挂（周五14:00后停挂至下周一）</span>
                                            </li>
                                            <li>
                                                <i>退号时间：</i>
                                                <span>就诊前一工作日14:00前取消</span>
                                            </li>
                                            <li>
                                                <i>特殊规则：</i> 
                                                <span>①  取号地点不同：西院区预取号地点：西院区门诊楼一层大厅挂号窗口取东院区预约号取号地点：东院区老门诊楼一层挂号窗口或新门诊楼各楼层挂号/收费窗口取</span>
                                            </li>
                                      </ul>
                                   </li>
                               </ul>
                            </div>
                            <!-- 预约医生 -->
                            <div class="hsDepartment_appDoc pull-left" ng-show="db">
                                <!-- <div class="hsDepartment_appDoc_tip">
                                 您还没有选择就诊日期 
                                </div> -->
                                <ul class="hsDepartment_appDoc_lis">
                                    <li class="clearfix" ng-repeat="pd in pdlt">
                                        <div class="hsDepartment_appDoc_lis_img pull-left">
                                            <img src="./img/doctor.jpg" class="img-circle" alt="医生">
                                        </div>
                                        <div class="hsDepartment_appDoc_lis_cont pull-left">
                                            <h3>{{pd.userName}} {{pd.productType}}</h3>
                                            <p>{{pd.departName}}</p>   
                                        </div>
                                        <div class="hsDepartment_appDoc_lis_money pull-left">
                                            <p>挂号费：<span class="money">{{pd.orderPrice}}</span></p>   
                                            <p>剩余号：<span class="overplus">{{pd.surplus}}</span></p>   
                                        </div>
                                        <div class="hsDepartment_appDoc_lis_btn pull-right">
                                            <button class="btn btn-primary">现在预约</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane hsDepartment_introduce" id="profile">
                          <ol>
                                <li>
                                    <h3>科室简介</h3>
                                    <p>
                                        青海省中医院疮疡科（皮肤科）是省级中医重点专科，现有专业技术人员13人，主任医师2人，副主任医师1人，主治医师1人。
                                    </p>
                                </li>
                                <li>
                                    <h3>诊疗优势及特色</h3>
                                    <p>
                                        科室中医特色突出，长期坚持辨证与辨病相结合、内治和外治相结合的原则，研制金黄膏、青黛膏、黄连膏、生肌玉红膏、三黄洗剂、牛皮癣酊、消白胶囊、消银胶囊等内服、外用制剂，主要诊治皮肤病、疮疡疾病（痈、疖、皮肤溃疡等）、周围血管病等疾病，临床疗效好。引进面膜喷雾仪、电离子治疗仪、紫外线光疗仪、二氧化碳激光治疗仪、M22强脉冲-激光仪等，治疗痤疮、湿疹、荨麻疹、银屑病、白癜风、疣类、痣、脂溢性角化、色斑、毛细血管扩张（红血丝）等皮肤病效果满意。
                                    </p>
                                    <p>
                                        科室中医特色突出，长期坚持辨证与辨病相结合、内治和外治相结合的原则，研制金黄膏、青黛膏、黄连膏、生肌玉红膏、三黄洗剂、牛皮癣酊、消白胶囊、消银胶囊等内服、外用制剂，主要诊治皮肤病、疮疡疾病（痈、疖、皮肤溃疡等）、周围血管病等疾病，临床疗效好。引进面膜喷雾仪、电离子治疗仪、紫外线光疗仪、二氧化碳激光治疗仪、M22强脉冲-激光仪等，治疗痤疮、湿疹、荨麻疹、银屑病、白癜风、疣类、痣、脂溢性角化、色斑、毛细血管扩张（红血丝）等皮肤病效果满意。
                                    </p>
                                </li>
                            </ol>
                      </div>
                    </div>
                </div>
            </div>
