
<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/doctorDetail.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/doctorDetail.js"></script>
    <!--[if lt IE 9]>
        <script src="./lib/html5shiv/html5shiv.js"></script>
        <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
    <body>
        <div>
            <div class="docDetail">
                <div class="container">
                    <!-- 标题 -->
                    <div class="docDetail_title">
                        <h2>医生详情</h2>
                        <a href="#">返回上一页</a>
                    </div>
                    <!-- 医生简介 -->
                    <div class="docDetail_int">
                            <div class="thumbnail clearfix">
                                <img data-src="holder.js/300x300" src="img/famdoc.jpg"  alt="医生">
                                <div class="caption">
                                    <h3>华佗</h3>
                                    <p><span>职称：</span>主任医师</p>
                                    <p><span>科室：</span>甘肃人民医院-外科</p>
                                </div>
                            </div>
                    </div>
                    <!-- 医生擅长领域 -->
                    <div class="docDetail_special">
                        <h3>擅长</h3>
                        <div class="docDetail_special_detail">
                            <p>
                                子宫内膜异位症，生殖道畸形的诊治，妇科肿瘤，疑难妇科疾病的诊治
                            </p>
                        </div>
                    </div>
                    <!-- 医生详细介绍 -->
                    <div class="docDetail_info">
                        <h3>详细介绍</h3>
                        <div class="docDetail_info_detail">
                            <p>
                                 郎景和，男，1940年4月出生于吉林，1964年毕业于白求恩医科大学医疗系，毕业后在中国医学科学院，中国协和医科大学北京协和医院工作，现任妇产科主任、教授、博士生导师。1985年曾到挪威研修妇科肿瘤，1986年到加拿大研修妇科肿瘤。1986-1993年曾任北京协和医院副院长。
                            </p>
                            <p>
                                  郎景和教授发表学术论文200余篇，个人专著3部，主编和副主编的专著8部。为中国的妇产                      肿瘤医疗事业作出了杰出贡献。 现任中华医学会妇产科学会主任委员，《中华妇产科杂志                    》总编，第五、六届中国妇产科肿瘤学组执行主席，中国科普作家协会副理事长，中华医                     学会主任委员，《健康世界》主编，中国作家协会会员。
 
                            </p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>