<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/FAQ.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/FAQ.js"></script>
    <!--[if lt IE 9]>
    <script src="./lib/html5shiv/html5shiv.js"></script>
    <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
<body>
<div class="hsFAQ">
    <div class="container">
        <!-- 导航条 -->
        <div class="hsFAQ_navBar">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">常见问题</a></li>
                <li role="presentation"><a href="#">关于我们</a></li>
                <li role="presentation"><a href="#">免责声明</a></li>
                <li role="presentation"><a href="#">服务条约</a></li>
                <li role="presentation"><a href="#">建议与反馈</a></li>
            </ul>
        </div>
        <!-- 常见问题 -->
        <div class="main">
            <div class="hsFAQ_main">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading active" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFive">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSix">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    北京胸科医院暂停更新号源通知
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSeven">
                            <div class="panel-body">
                                首都医科大学附属北京胸科医院 为提高医院预约率，减少爽约，方便患者就医，
                                我院从2017年02月21日起暂停更新医生号源。将原来13周预约周期改为1周预约周期，即从2017年05月16日起开始放2017年05月23日的号源，特此通知！对您造成的不便敬请谅解!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>