    
<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/feedBack.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/feedBack.js"></script>
    <!--[if lt IE 9]>
        <script src="./lib/html5shiv/html5shiv.js"></script>
        <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
    <body>
        <div class="hsFeedBack">
            <div class="container">
                <div class="hsFeedBack_phase">
                    <p>对您给予的帮助和支持，深表感谢！</p>
                </div>
                <div class="hsFeedBack_cont">
                    <textarea></textarea>
                </div>
                <div class="hsFeedBack_btn">
                    <button class="btn" data-toggle="modal" data-target="#myModal" data-target=".bs-example-modal-sm">提交问题</button>
                </div>
                <!-- 提示 -->
                <div class="hsFeedBack_tip">
                    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content  ">
                                <div class="modal-body">
                                    提交成功，感谢您的反馈！
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn " data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>