
            <!-- 底部导航栏 -->
            <div class="hsLayout_footer">
                <div class="container">
                    <ul class="clearfix">
                        <li class="hsLayout_footer_list ">
                              <dl>
                                <dt>
                                    关于我们
                                    <p>ABOUT US</p>
                                </dt>
                                <dd>关于我们</dd>
                                <dd>注册协议</dd>
                                <dd>帮助中心</dd>
                            </dl>
                             <dl>
                                <dt>
                                    相关服务
                                    <p>RELATED SERVICE</p>
                                </dt>
                                <dd>预约挂号</dd>
                                <dd>咨询医生</dd>
                                <dd>体检预约</dd>
                                <dd>健康档案</dd>
                            </dl>
                             <dl>
                                <dt>
                                    产品
                                    <p>PRODUCT</p>
                                </dt>
                                <dd>如何使用</dd>
                                <dd>视频介绍</dd>
                                <dd>更新历史</dd>
                                <dd>FAQ</dd>
                            </dl>
                        </li>
                        <li class="hsLayout_footer_erweima">
                             <img src="img/Image1.png" alt="二维码">
                            <h4>扫一扫</h4>
                            <p>关注“手机预约挂号”</p>
                        </li>
                        <li class="hsLayout_footer_advice">
                            <div class="phone">
                                <i class="icon iconfont icon-dianhua"></i>
                                010-54684651
                            </div>
                            <div class="advice">
                                <h4>意见反馈</h4>
                                <p>ADVICE FEEDBACE</p>
                                <textarea cols="30" rows="10"></textarea>
                                <button >提交</button>    
                            </div>
                        </li>
                    </ul>
                    <div class="hsLayout_footer_share">
                                <a href="#"><i class="icon iconfont icon-weixin"></i></a>
                                <a href="#"><i class="icon iconfont icon-qq"></i></a>
                                <a href="#"><i class="icon iconfont icon-weibo"></i></a>
                    </div>
                </div>
            </div>
            <!-- 底部说明栏 -->
            <div class="hsLayout_footerBar">
                Copyright©2016&nbsp 京ICP备 10011656号-20
            </div>
