<!doctype html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/index.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-ui-router.min.js"></script>
    <script src="lib/angular/ocLazyLoad.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
    <body ng-app="app">
        <div class="hsLayout">
            <!-- 顶部搜索框 -->
            <!--  <div class="topSearch col-blue">
               <div class="container clearfix">
                   <a href="#" class="hsLayout_logo">logo</a>
                   <input type="text" class="hsLayout_search">
                   <div class="hsLayout_user">
                       <a href="#" class="hsLayout_user_login">登录</a>
                       <a href="#" class="hsLayout_user_register">注册</a>
                   </div>
                   <a href="#"><i class="icon iconfont icon-sousuo-sousuo"></i></a>
               </div>                
            </div> -->
            
            <!-- 快速预约 -->
            <div style="margin-top:74px" ui-view></div>
            
            <!-- 底部导航栏 -->
            <!-- <div class="hsLayout_footer">
                <div class="container">
                    <ul class="clearfix">
                        <li class="hsLayout_footer_list ">
                              <dl>
                                <dt>
                                    关于我们
                                    <p>ABOUT US</p>
                                </dt>
                                <dd>关于我们</dd>
                                <dd>注册协议</dd>
                                <dd>帮助中心</dd>
                            </dl>
                             <dl>
                                <dt>
                                    相关服务
                                    <p>RELATED SERVICE</p>
                                </dt>
                                <dd>预约挂号</dd>
                                <dd>咨询医生</dd>
                                <dd>体检预约</dd>
                                <dd>健康档案</dd>
                            </dl>
                             <dl>
                                <dt>
                                    产品
                                    <p>PRODUCT</p>
                                </dt>
                                <dd>如何使用</dd>
                                <dd>视频介绍</dd>
                                <dd>更新历史</dd>
                                <dd>FAQ</dd>
                            </dl>
                        </li>
                        <li class="hsLayout_footer_erweima">
                             <img src="img/Image1.png" alt="二维码">
                            <h4>扫一扫</h4>
                            <p>关注“手机预约挂号”</p>
                        </li>
                        <li class="hsLayout_footer_advice">
                            <div class="phone">
                                <i class="icon iconfont icon-dianhua"></i>
                                010-54684651
                            </div>
                            <div class="advice">
                                <h4>意见反馈</h4>
                                <p>ADVICE FEEDBACE</p>
                                <textarea cols="30" rows="10"></textarea>
                                <button >提交</button>    
                            </div>
                        </li>
                    </ul>
                    <div class="hsLayout_footer_share">
                                <a href="#"><i class="icon iconfont icon-weixin"></i></a>
                                <a href="#"><i class="icon iconfont icon-qq"></i></a>
                                <a href="#"><i class="icon iconfont icon-weibo"></i></a>
                    </div>
                </div>
            </div>  -->
            <!-- 底部说明栏 -->
            <!-- <div class="hsLayout_footerBar">
                Copyright©2016&nbsp 京ICP备 10011656号-20
            </div> -->
        </div>
    </body>
</html>