
<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/modifyAcontMes.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/modifyAcontMes.js"></script>
    <!--[if lt IE 9]>
        <script src="./lib/html5shiv/html5shiv.js"></script>
        <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
    <body>
        <div class="hsPersonal">
            <!-- 头部搜索栏 -->
           <div class="topBar">
               <div class="container">
                   <a href="#" class="topBar_logo">LOGO</a>
                   <input type="text" >
                    <a href="#" class="topBar_back">
                      <i class="icon iconfont icon-fanhuijiantou"></i>
                      返回首页
                  </a>
                  <a href="#" class="topBar_icon"><i class="icon iconfont icon-sousuo-sousuo"></i></a> 
               </div>
           </div>
            <!-- 中间主要内容 -->
           <div class="container">
               <!-- 侧边栏 -->
               <div class="hsPersonal_sliderBar">
                   <div class="hsPersonal_sliderBar_layer">
                       <!-- 头像 -->
                       <div class="hsPersonal_sliderBar_layer_header">
                           <i class="icon iconfont icon-7"></i>
                           <h4>刘玉华</h4>
                       </div>
                       <!-- 目录 -->
                       <div class="hsPersonal_sliderBar_layer_cata">
                           <ul>
                               <li>
                                    <i class="icon iconfont icon-wodeshoucang"></i>
                                    <a href="#">我的收藏</a>
                                </li>
                                 <li>
                                    <i class="icon iconfont icon-personal-family"></i>
                                    <a href="#">家庭成员</a>
                                </li>
                                 <li>
                                    <i class="icon iconfont icon-zhanghaoanquan"></i>
                                    <a href="#">账号安全</a>
                                </li>
                                 <li>
                                    <i class="icon iconfont icon-zhanghuguanli"></i>
                                    <a href="#">账户管理</a>
                                </li>
                           </ul>
                       </div>
                       <!-- 退出登录 -->
                       <button >退出登录</button>

                   </div>
                </div>
                <!-- 主要内容 -->
                <div class="hsPersonal_main">
                    <div class="hsPerInfo">
                        <!-- 标题 -->
                        <div class="hsPersonal_main_title">
                            <h3>修改个人信息</h3>
                            <a href="#" class="pull-right">返回上一页</a>
                        </div>
                        <!-- 个人信息 -->
                        <div class="hsPerInfo_cont">
                            <table>
                                <tr>
                                    <td class="left">姓名：</td>
                                    <td class="right">
                                        <input type="text" value="张三">
                                        <!-- 提示 -->
                                        <span class="hsReg_cont_tipUserName tip">
                                            <i class="icon iconfont icon-x"></i>
                                            请输入正确的姓名
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">性别：</td>
                                    <td class="right">
                                        <div class="chooseSex" >
                                            <label for="female">女</label><input type="radio" id="female" checked="checked"/>
                                            <label for="male">男</label><input type="radio" id="male"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="hsPerInfo_cont_borthDay">
                                    <td class="left">出生日期：</td>
                                    <td class="right">
                                        <select class="year">
                                            <option>--</option>
                                            <option>2014年</option>
                                        </select>
                                        <select class="month">
                                            <option>--</option>
                                            <option>02月</option>
                                        </select>
                                        <select class="day">
                                            <option>--</option>
                                            <option>14日</option>
                                        </select>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="left">手机号码：</td>
                                    <td class="right">
                                        <input type="text" value="17799998888">
                                          <!-- 提示 -->
                                        <span class="hsPerInfo_cont_tipPhone tip">
                                            <i class="icon iconfont icon-x"></i>
                                            请输入正确的手机号码号码
                                        </span>
                                    </td>
                                </tr>
                                 <tr class="hsPerInfo_cont_identCode">
                                    <td class="left">验证码：</td>
                                    <td class="right">
                                        <input type="text">
                                        <div class="hsPerInfo_cont_identCode_text pull-right">手机验证码</div>
                                          <!-- 提示 -->
                                        <span class="hsPerInfo_cont_tipCode tip">
                                            <i class="icon iconfont icon-x"></i>
                                            请输入正确的手机号码号码
                                        </span>
                                    </td>
                                </tr>
                                  <tr class="hsPerInfo_cont_docuType">
                                    <td class="left">证件类型：</td>
                                    <td class="right">
                                        <select >
                                            <option>请选择证件类型</option>
                                            <option>居民身份证</option>
                                            <option>护照</option>
                                            <option>军官证</option>
                                            <option>港澳通行证</option>
                                            <option>台胞证</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left">证件号码：</td>
                                    <td class="right">
                                        <input type="text" value="12222672728828">
                                         <!-- 提示 -->
                                        <span class="hsPerInfo_cont_tipID tip">
                                            <i class="icon iconfont icon-x"></i>
                                            请输入正确的证件号码
                                        </span>
                                    </td>
                                </tr>
                                <tr class="hsPerInfo_cont_btn">
                                    <td class="left"></td>
                                    <td class="right">
                                        <div class="changeInfo" >
                                            <button class="btn btn-primary save">保存</button>
                                            <button class="btn btn-default quite pull-right">取消</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>
               </div>
           </div>
           <!-- 底部说明内容 -->
           <div class="footerBar">
               <div class="container">
                    <p>Copyright©2016&nbsp 京ICP备 10011656号-20</p>
                    <div class="footerBar_share">
                      <a href="#"><i class="icon iconfont icon-weixin"></i></a>
                      <a href="#"><i class="icon iconfont icon-qq"></i></a>
                      <a href="#"><i class="icon iconfont icon-weibo"></i></a>
                    </div> 
               </div>                
           </div>
    </body>
       

</html>