
<!doctype html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <title>医院挂号系统</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/myCollection.css"/>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/myCollection.js"></script>
    <!--[if lt IE 9]>
        <script src="./lib/html5shiv/html5shiv.js"></script>
        <script src="./lib/respond/respond.js"></script>
    <![endif]-->
</head>
    <body>
        <div class="hsPersonal">
            <!-- 头部搜索栏 -->
            <div class="topBar">
               <div class="container">
                   <a href="#" class="topBar_logo">LOGO</a>
                   <input type="text" >
                    <a href="#" class="topBar_back">
                      <i class="icon iconfont icon-fanhuijiantou"></i>
                      返回首页
                  </a>
                  <a href="#" class="topBar_icon"><i class="icon iconfont icon-sousuo-sousuo"></i></a> 
               </div>
            </div>
            <!-- 中间主要内容 -->
            <div class="container">
               <!-- 侧边栏 -->
               <div class="hsPersonal_sliderBar">
                   <div class="hsPersonal_sliderBar_layer">
                       <!-- 头像 -->
                       <div class="hsPersonal_sliderBar_layer_header">
                           <i class="icon iconfont icon-7"></i>
                           <h4>刘玉华</h4>
                       </div>
                       <!-- 目录 -->
                       <div class="hsPersonal_sliderBar_layer_cata">
                           <ul>
                               <li>
                                    <i class="icon iconfont icon-wodeshoucang"></i>
                                    <a href="#">我的收藏</a>
                                </li>
                                 <li>
                                    <i class="icon iconfont icon-personal-family"></i>
                                    <a href="#">家庭成员</a>
                                </li>
                                 <li>
                                    <i class="icon iconfont icon-zhanghaoanquan"></i>
                                    <a href="#">账号安全</a>
                                </li>
                                 <li>
                                    <i class="icon iconfont icon-zhanghuguanli"></i>
                                    <a href="#">账户管理</a>
                                </li>
                           </ul>
                       </div>
                       <!-- 退出登录 -->
                       <button >退出登录</button>
                   </div>
                </div>
                <!-- 主要内容 -->
                <div class="hsPersonal_main">
                    <!-- 我的收藏 -->
                    <div class="myCol">
                        <!-- 导航栏 -->
                        <div class="hsPersonal_main_title">
                            <h3>我的收藏</h3>
                            <a href="#" class="pull-right">返回上一页</a>
                        </div>
                        <div class="myCol_table">
                            <table>
                                <tr class="myCol_table_top">
                                    <th class="myCol_table_top_title">标题</th>
                                    <th class="myCol_table_top_edit">编辑</th>
                                    <th class="myCol_table_top_source">来源</th>
                                    <th class="myCol_table_top_time">发布时间</th>
                                </tr>
                                <tr class="myCol_table_cont odd">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit"  data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang"></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                               <tr class="myCol_table_cont even">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                                <tr class="myCol_table_cont odd">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        公告
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                               <tr class="myCol_table_cont even">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                                <tr class="myCol_table_cont odd">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                               <tr class="myCol_table_cont even">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                                <tr class="myCol_table_cont odd">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                               <tr class="myCol_table_cont even">
                                    <td class="myCol_table_cont_title">
                                        <h4>
                                            <a href="#">
                                                <span>●</span>高龄医生发余热,坚守岗位过春节高龄医生发余热,坚守岗位过春节高龄医生发余热,
                                                高龄医生发余热,坚守岗位过春
                                                <i>...</i>
                                            </a>
                                        </h4>
                                    </td>
                                    <td class="myCol_table_cont_edit" data-toggle="modal" data-target=".bs-example-modal-sm">
                                        <i class="icon iconfont icon-wodeshoucang" ></i>
                                    </td>
                                    <td class="myCol_table_cont_source">
                                        健康咨询
                                    </td>
                                    <td class="myCol_table_cont_time">2016年12月12日</td>
                                </tr>
                               
                            </table>
                            <!-- 分页 -->
                            <div class="myCol_page">
                                <nav aria-label="Page navigation ">
                                    <ul class="pagination ">
                                      <li  class="disabled">
                                        <a href="#" aria-label="Previous">
                                          <span aria-hidden="true">上一页</span>
                                        </a>
                                      </li>
                                      <li class="active"><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li>
                                        <a href="#" aria-label="Next">
                                          <span aria-hidden="true">下一页</span>
                                        </a>
                                      </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- 提示 -->
                            <div class="myCol_tip">
                                 <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">提示！</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>您确认要取消收藏吗？</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">确认</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <!-- 底部说明内容 -->
           <div class="footerBar">
               <div class="container">
                    <p>Copyright©2016&nbsp 京ICP备 10011656号-20</p>
                    <div class="footerBar_share">
                      <a href="#"><i class="icon iconfont icon-weixin"></i></a>
                      <a href="#"><i class="icon iconfont icon-qq"></i></a>
                      <a href="#"><i class="icon iconfont icon-weibo"></i></a>
                    </div> 
               </div>                
           </div>
    </body>
       

</html>