<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>账号安全</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/accountSecurity.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src="lib/zepto/touch.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/accountSecurity.js"></script>
</head>
<body>
<div class="hs_security">
    <div class="container">
        <header class="topBar">
            <a href="personal.html"><i class="icon iconfont icon-fanhuijian"></i></a>

            <h1>账号安全</h1>
        </header>
        <form action="" method="post">
            <section class="hs_security_info">
                    <table class="formArray table">
                        <tr class="hs_security_info_email ">
                            <td class="text-center">邮箱：</td>
                            <td>                            
                                <div class="input-group">
                                    <input type="text" class="form-control email" name="email"  value="wwwww@163.com" disabled>
                                    <span class="input-group-addon change" >修改</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="hs_security_info_phone ">
                            <td  class="text-center">手机：</td>
                            <td>
                                 <div class="input-group">
                                    <input type="text" class="form-control phone" name="phone"  value="18232590393" disabled>
                                    <span class="input-group-addon change" >修改</span>
                                </div>
                            </td>
                        </tr>
                    </table>            
            </section>
            <section class="hs_security_tip"></section>
            <footer class="hs_security_submit">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="提交">
            </footer>
        </form>
    </div>
</div>
</body>
</html>