<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>增加家庭成员</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/addFamilyMember.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/addFamilyMember.js"></script>
</head>
<body>
<div class="hs_addFamMem">
    <div class="container">
        <header class="topBar">
            <a href="familyMember.html"><i class="icon iconfont icon-fanhuijian"></i></a>

            <h1>增加家庭成员</h1>
        </header>
        <section class="hs_addFamMem_member">
            <form>
                <table class="formArray">
                    <tr class="hs_addFamMem_member_name ">
                        <td>姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名：</td>
                        <td>
                            <input type="text" name="addUserName" class="userName"/>
                        </td>
                    </tr>
                    <tr class="hs_addFamMem_member_phone ">
                        <td>手机号码：</td>
                        <td><input type="text" name="addPhone" class="phone"/></td>
                    </tr>
                    <tr class="hs_addFamMem_member_ID ">
                        <td>身份证号：</td>
                        <td><input type="text" class="ID"/></td>
                    </tr>
                </table>
            </form>
           
        </section>
        <section class="hs_addFamMem_tip"></section>
        <footer>
            <button  class=" btn-lg btn btn-primary btn-block">确认增加</button>
        </footer>
    </div>
</div>
</body>
</html>