<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>预约</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/appoint.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/appoint.js"></script>
</head>
<body>
<div class="hs_appoint">
    <div class="container">
        <!--标题-->
        <header class="topBar">
            <a href="index.html"><i class="icon iconfont icon-fanhuijian"></i></a>

            <h1>预约</h1>
        </header>
        <!--搜索框-->
        <section class="hs_appoint_search">
           <div class="search">
               <form>
                   <input type="text" class="hs_appoint_search_inp"/>
               </form>
               <a href="#"><i class="icon iconfont icon-msnui-find-bold"></i></a>
           </div>
       </section>
        <!--预约医院-->
        <section class="hs_appoint_hos row">
        <!-- 图片 -->
            <div class="hs_appoint_hos_img col-xs-5">
                <a href="#">
                    <img src="img/u271.jpg" alt="泰山医院"/>
                </a>
            </div>
        <!-- 医院信息 -->
            <div class="hs_appoint_hos_text col-xs-7">
                <h3><a href="medicalLab.html">泰山医院</a></h3>

                <!-- <p><a href="#">100名优质医生</a></p> -->

                <div class="hs_appoint_hos_text_nav">
                   <!--  <a href="#" class="thridHos">三甲</a>
                   <a href="#" class="healthIns">医保</a>
                   <a href="#" class="hosNav">医院导航</a> -->
                  <!--  <a href="javascript:;"></a> -->
                </div>
            </div>
        </section>
        <section class="hs_appoint_hos row">
            <div class="hs_appoint_hos_img col-xs-5">
                <a href="#">
                    <img src="img/u271.jpg" alt="泰山医院"/>
                </a>
            </div>
            <div class="hs_appoint_hos_text col-xs-7">
                <h3><a href="medicalLab.html">泰山医院</a></h3>

                <!-- <p><a href="#">100名优质医生</a></p> -->

                <div class="hs_appoint_hos_text_nav">
                  <!--   <a href="#" class="thridHos">三甲</a>
                  <a href="#" class="healthIns">医保</a>
                  <a href="#" class="hosNav">医院导航</a> -->
                </div>
            </div>
        </section>
    </div>
</div>
<script>
</script>
</body>
</html>