<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>科室介绍</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/departmentDetail.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/departmentDetail.js"></script>
</head>
<body>
    <div class="hs_depDetail">
        <header class="topBar">
            <a href="#"><i class="icon iconfont icon-fanhuijian"></i></a>

            <h1>外科</h1>
        </header>
        <section class="hs_depDetail_img">
            <img src="img/doctors.jpg " alt=""/>
        </section>
        <section class="hs_depDetail_info">
            <p> 随着人民生活水平的提高，胃肠功能障碍性疾病逐渐成为影响患者生活质量的重要原因。消化科拥有高分辨胃肠道测压、食管24 小时pH+阻抗监测等国际先进的胃肠动力检测技术，同时运用胃排空、胃肠传输时间等方法，全面了解消化道运动功能;氢呼气试验可检测胃肠功能及诊断小肠细菌过度滋生，为提高胃肠动力障碍性疾病的诊治水平提供了新技术。凭借二十余年对胃肠运动障碍性疾病的研究基础，消化科在胃食管反流病(特别是难治性胃食管反流病)、功能性消化不良、糖尿病胃轻瘫、肠易激综合征、胃肠功能紊乱、系统性疾病(如硬皮病、干燥综合征、系统性红斑狼疮、类风湿性关节炎等风湿免疫性疾病)引起的胃肠功能障碍等疾病的诊治上独具特色。设有便秘及胃食管反流病2个专病门诊，对患者进行药物、生物反馈、电刺激等个体化治疗。消化内科长期注重精神心理对胃肠功能的影响，治疗大量难治性功能性胃肠病，得到了患者赞誉。</p>
        </section>
    </div>
</body>
</html>