<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>科室介绍</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/department.css"/>
    <script src="lib/jquery.js"></script>
    <script src="js/common.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/department.js"></script>
</head>
<body>
    <div class="hs_deparment">
        <div class="container">
            <header class="topBar">
                <a href="hospitalNavigation.html"><i class="icon iconfont icon-fanhuijian"></i></a>

                <h1>科室介紹</h1>
            </header>
            <section class="hs_deparment_search">
                <div class="search">
                    <form>
                        <input type="text" class="hs_deparment_search_inp"/>
                    </form>
                    <a href="#"><i class="icon iconfont icon-msnui-find-bold"></i></a>
                </div>
            </section>
            <main class="hs_deparment_main">
                <div class="hs_deparment_item clearfix">
                <!-- 左侧栏 -->
                    <section class="hs_deparment_item_med">
                        <ul>
                            <li><a href="#"  >常见科室</a></li>
                            <li><a href="#" >内科</a></li>
                            <li><a href="#" >外科</a></li>
                            <li><a href="#">妇产科</a></li>
                            <li><a href="#">生殖中心</a></li>
                            <li><a href="#">儿科</a></li>
                            <li><a href="#">骨外科</a></li>
                            <li><a href="#">眼科</a></li>
                            <li><a href="#">口腔科</a></li>
                            <li><a href="#" >皮肤性病科</a></li>
                            <li><a href="#">妇产科</a></li>
                            <li><a href="#">生殖中心</a></li>
                            <li><a href="#">儿科</a></li>
                            <li><a href="#">骨外科</a></li>
                            <li><a href="#">眼科</a></li>
                            <li><a href="#">口腔科</a></li>
                            <li><a href="#" >皮肤性病科</a></li>
                            <li><a href="#">妇产科</a></li>
                            <li><a href="#">生殖中心</a></li>
                            <li><a href="#">儿科</a></li>
                            <li><a href="#">骨外科</a></li>
                            <li><a href="#">眼科</a></li>
                            <li><a href="#">口腔科</a></li>
                            <li><a href="#" >皮肤性病科</a></li>
                             <li><a href="#">儿科</a></li>
                            <li><a href="#">骨外科</a></li>
                        </ul>
                    </section>
                    <!-- 右侧栏 -->
                    <section class="hs_deparment_item_det">
                        <ul>
                            <li><a href="#">白血病门诊</a></li>
                            <li><a href="#">肠道门诊</a></li>
                            <li><a href="#">垂体病门诊</a></li>
                            <li><a href="#">癫痫门诊</a></li>
                            <li><a href="#">发热待查门诊</a></li>
                            <li><a href="#">肥胖与三高门诊</a></li>
                            <li><a href="#">感染科门诊</a></li>
                            <li><a href="#">冠心病门诊</a></li>
                        </ul>
                    </section>
                </div>
            </main>
        </div>
    </div>
</body>
</html>