<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>医生介绍</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/doctor.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/doctor.js"></script>
</head>
<body>
    <div class="doctor">
        <div class="container">
            <!--标题-->
            <header class="topBar">
                <a href="#"><i class="icon iconfont icon-fanhuijian"></i></a>

                <h1>医生介绍</h1>
            </header>
            <!--搜索框-->
            <div class="doctor_search">
                <form >
                    <input type="text" class="doctor_search_inp"/>
                </form>
                <i class="icon iconfont icon-msnui-find-bold "></i>
            </div>

            <!--医生介绍-->
            <section class="doctor_info row">
                <div class="col-xs-4">
                    <img src="img/doctor.jpg" alt="医生" class="img-circle "/>
                </div>
                <ul class="col-xs-8">
                    <li>
                        <b>华佗&nbsp</b>
                        <span>外科&nbsp</span>
                        <span>主治医师&nbsp</span>
                    </li>
                    <li>泰山医院</li>
                    <li>擅长：外科，精于手术。并精通内、妇、儿、针灸各科。</li>
                </ul>
            </section>
        </div>
    </div>
</body>
</html>