<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>常见问题</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/FAQ.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/FAQ.js"></script>
</head>
    <body>
    <div class="hs_FAQ">
        <div class="container">
              <header class="topBar">
                <a href="personal.html"><i class="icon iconfont icon-fanhuijian"></i></a>

                <h1>常见问题</h1>
            </header>
            <section class="hs_FAQ_main">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              预约挂号流程
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                          目前城市医疗资源配置与前往就诊的患者需求,存在十分巨大的供需矛盾,这也势必造成了患者看病等待挂号花费时间长的现象。本院全面实行预约挂号,改善了医院的就诊秩序,大大节省了患者就医花费的时间,取得了良好的社会效益。
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             预约挂号流程
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                          目前城市医疗资源配置与前往就诊的患者需求,存在十分巨大的供需矛盾,这也势必造成了患者看病等待挂号花费时间长的现象。本院全面实行预约挂号,改善了医院的就诊秩序,大大节省了患者就医花费的时间,取得了良好的社会效益。
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              预约挂号流程
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                          目前城市医疗资源配置与前往就诊的患者需求,存在十分巨大的供需矛盾,这也势必造成了患者看病等待挂号花费时间长的现象。本院全面实行预约挂号,改善了医院的就诊秩序,大大节省了患者就医花费的时间,取得了良好的社会效益。
                          </div>
                        </div>
                      </div>
                    </div>
            </section>
        </div>
    </div>
    </body>
</html>