<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>医院公告</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/hospitalBulletin.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/hospitalBulletin.js"></script>
</head>
    <body>
    <div class="hs_bulletin">
        <div class="container">
            <header class="topBar">
                <a href="index.html"><i class="icon iconfont icon-fanhuijian"></i></a>

                <h1>医院公告</h1>
            </header>
            <main class="hs_bulletin_main">
                <ul>
                    <li><a href="hospitalBulletinDeL.html">
                        <h4>健康生活</h4>
                        <p class="hs_bulletin_main_time">2017年1月3日</p>
                        <i class="icon iconfont icon-icon"></i>
                    </a></li>
                    <li><a href="hospitalBulletinDeL.html">
                        <h4>健康生活</h4>
                        <p class="hs_bulletin_main_time">2017年1月3日</p>
                        <i class="icon iconfont icon-icon"></i>
                    </a></li>
                    <li><a href="hospitalBulletinDeL.html">
                        <h4>健康生活</h4>
                        <p class="hs_bulletin_main_time">2017年1月3日</p>
                        <i class="icon iconfont icon-icon"></i>
                    </a></li>
                    <li><a href="hospitalBulletinDeL.html">
                        <h4>健康生活</h4>
                        <p class="hs_bulletin_main_time">2017年1月3日</p>
                        <i class="icon iconfont icon-icon"></i>
                    </a></li>
                </ul>
            </main>
        </div>
    </div>
    </body>
</html>