<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>医院导航</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/hospitalNavigation.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/hospitalNavigation.js"></script>
</head>
<body>
    <div class="hs_nav">
        <div class="container">
           <header class="topBar">
               <a href="index.html"><i class="icon iconfont icon-fanhuijian"></i></a>

               <h1>泰山医院</h1>
           </header>
            <!--图片-->
            <section  class="hs_nav_img">
                <img src="img/u271.jpg" alt="泰山医院" class="img-responsive"/>
            </section>
            <!--分类-->
            <section class="hs_nav_classify">
                <ul class="clearfix row">
                    <li class="col-xs-4 text-center"><a href="hsInNavigation.html" class="inHouse">院内导航</a></li>
                    <li class="col-xs-4 text-center"><a href="hospitalMap.html" class="outHouse" >院外导航</a></li>
                    <li class="col-xs-4 text-center"><a href="hospitalPeriphery.html" class="periphery" >医院周边</a></li>
                    <li class="col-xs-4 text-center"><a href="floorGuide.html" class="hs_nav_classify_top floor">楼层导航</a></li>
                    <li class="col-xs-4 text-center"><a href="hospital.html" class="hs_nav_classify_top hospital">医院介绍</a></li>
                    <li class="col-xs-4 text-center"><a href="department.html" class="hs_nav_classify_top department">科室介绍</a></li>
                </ul>
            </section>
            <!--具体路线-->
            <section class="hs_nav_route">
                <h2>交通工具</h2>
                <div class="hs_nav_route_content">
                    地铁6号线或123、345、567、789路公交车，到嘉泰大厦下车
                </div>
            </section>
        </div>
    </div>
</body>
</html>