<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃 登陆"/>
    <meta name="description" content="甘肃挂号平台登陆"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>注册页面</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/register.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/register.js"></script>
</head>
<body>
<div class="hs_register">
    <div class="container">
        <header class="topBar">
                <a href="familyMember.html"><i class="icon iconfont icon-fanhuijian"></i></a>
            </header>
        <div class="hs_register_user">
            <h2>用户注册</h2>
        </div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="icon iconfont icon-yonghuming"></i></div>
                    <input class="form-control userName" type="text" placeholder="用户名" name="user" id="userName">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="icon iconfont icon-mima"></i></div>
                    <input class="form-control psw" type="password" placeholder="输入6-16位密码" name="psw" id="psd">
                </div>
            </div>
            <button class="hs_register_btn">注册</button>
        </form>
        <section class="hs_register_tip">请输入正确的用户名</section>
    </div>
</div>
</body>
</html>