<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="甘肃挂号平台 挂号 甘肃"/>
    <meta name="description" content="甘肃挂号平台"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>预约记录查询</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/reservationRecord.css"/>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="js/reservationRecord.js"></script>
</head>
<body>
    <div class="hs_resRecord">
        <div class="container">
            <header class="topBar">
                <a href="personal.html"><i class="icon iconfont icon-fanhuijian"></i></a>

                <h1>预约记录</h1>
            </header>
            <section class="hs_resRecord_info ">
                    <table class="table">
                        <tr>
                            <td class="text-right"><h2>哈哈</h2></td>
                        </tr>
                        <tr>
                            <td class="text-right  ">科室：</td>
                            <td><span>泰山医院</span>-<span>精神科</span></td>
                        </tr>
                        <tr>
                            <td class="text-right">医生：</td>
                            <td>扁鹊</td>
                        </tr>
                        <tr>
                            <td class="text-right">时间：</td>
                            <td>2016年12月20日9点</td>
                        </tr>
                        <tr>
                            <td class="text-right">挂号费：</td>
                            <td>5元</td>
                        </tr>
                    </table>
                    <div class="hs_resRecord_info_btn ">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" >删除</button>
                    </div>
                </section>
            <section class="hs_resRecord_info">
                    <table class="table">
                        <tr>
                            <td class="text-right"><h2>哈哈</h2></td>
                        </tr>
                        <tr>
                            <td class="text-right  ">科室：</td>
                            <td><span>泰山医院</span>-<span>精神科</span></td>
                        </tr>
                        <tr>
                            <td class="text-right">医生：</td>
                            <td>扁鹊</td>
                        </tr>
                        <tr>
                            <td class="text-right">时间：</td>
                            <td>2016年12月20日9点</td>
                        </tr>
                        <tr>
                            <td class="text-right">挂号费：</td>
                            <td>5元</td>
                        </tr>
                    </table>
                    <div class="hs_resRecord_info_btn ">
                        <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal" >删除</button>
                         
                    </div>
                </section>
            <section class="hs_resRecord_tip">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">提示！</h4>
                            </div>
                            <div class="modal-body">
                                您确认要取消预约吗？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary confirm">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>