@charset "utf-8";

/*reset*/
body{ font:13px/1.5 Arial,"Microsoft YaHei"; color: #333;}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,ul{list-style:none; margin:0; padding:0;}
img{vertical-align:middle;border:0;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
