.hsPerInfo{
    font-family: "微软雅黑";
}
/*标题*/
.hsPersonal_main_title{
   
    border-bottom: 4px solid #4068a5;
}
.hsPersonal_main_title h3{
    padding:6px 20px;
    font-size: 16px;
    background-color: #4068a5;
    color:#fff;
    display: inline-block;
}
.hsPersonal_main_title a{
    display: inline-block;
    line-height: 36px;
    font-size: 14px;
    text-decoration: underline;
}
.hsPersonal_main_title a:hover{
    color:#2a7fcf;
}
/*字体图标*/
.icon-jiaotongtubiaoguochejiluchaxun{
    font-size: 48px;
    color:#d65454;
    margin-left:-24px; 
}
.icon-chaxun{
    font-size: 54px;
    color:#d28501;
    margin-left:-27px;
}
.icon-call-queue{
    font-size: 62px;
    color:#1570c3;
    margin-left:-31px;
}
.icon-iconxianchanghudong{
    font-size: 74px;
    color:#1faa71;
    margin-left:-37px;
    margin-top: -7px;
}
/*中间主要内容*/
.hsPersonal{
    font-family: "微软雅黑";
}
/*侧边栏*/
.hsPersonal_sliderBar{
    background: url(../img/personbg-.jpg) no-repeat;
    width: 300px;
    height: 798px;
    background-size: 100% 100%;
    color:#fff;
    float:left;
}
.hsPersonal_sliderBar_layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    background-color: rgb(0,0,0)\0;
    filter:alpha(opacity=70)\0;
}
.hsPersonal_sliderBar_layer a{
    color: #fff;
}
.hsPersonal_sliderBar_layer_header{
    padding-top:180px;
    text-align: center;
}
/*头像*/
.hsPersonal_sliderBar_layer_header i{
    font-size:104px;
   
}
.hsPersonal_sliderBar_layer_header h4{
    font-size: 18px;
    line-height: 30px;
    margin-top:14px;
}
/*目录*/
.hsPersonal_sliderBar_layer_cata{
    margin-top: 50px;
}
.hsPersonal_sliderBar_layer_cata li {
    line-height: 72px;
    height: 72px;
    position: relative;
}
.hsPersonal_sliderBar_layer_cata li i{
    font-size: 32px;
    position: absolute;
    left:80px;
    top:50%;
    margin-top:-35px;
}
.hsPersonal_sliderBar_layer_cata li a{
    font-size: 18px;
    display: inline-block;
    margin-left:141px;
}
/*退出登录按钮*/
.hsPersonal_sliderBar button{
    width: 197px;
    height: 56px;
    margin-left:51px;
    margin-top:56px;
    font-size: 22px;
    background-color: #d13737;
    border-radius: 4px;
}
/*主要内容*/
.hsPersonal_main{
    margin-left: 300px;
    margin-right: 0;
    padding-top:74px; 
}
/*账号安全*/
.hsAccScy{
    padding:20px 0 0 20px;
}
.hsAccScy .hsAccScy_cont{
    padding:40px;
}
.hsAccScy .hsAccScy_cont td{
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}
.hsAccScy .hsAccScy_cont td .group{
    width: 280px;
    margin-top: 10px;
    margin-right: 10px;
}
.hsAccScy .hsAccScy_cont .form-control {
    height: 40px;
}
.hsAccScy .hsAccScy_cont .input-group-addon{
    cursor: pointer;
}
/*按钮*/
.hsAccScy_cont_btn {
    width: 280px;      
    height: 40px;
    margin-top: 40px;
    background-color: #fd7d00;
    font-size: 16px;
    color:#fff;
    line-height: 40px;
    border-radius: 4px;
}

/*提示*/
.hsAccScy_cont  .tip{
    color:#d65454;
    padding-left: 20px;
    position: relative;
    display: none;
}
.hsAccScy_cont .tip i{
    position: absolute;
    top:2px;
    left:0;
}