.hsNews{
    font-family: "微软雅黑";
}

/*公告列表*/

.hsNews .panel-heading{
    font-size: 16px;
}

.hsNews_list{
    padding:20px;
}

.hsNews_list li{
    padding:10px 0;
}

.hsNews_list li h4{
    font-size: 16px;
    line-height: 32px;
}

.hsNews_list li h4 a:hover{
    color:#2b7ecc;
}

.hsNews_list li h4 span{
    margin-right: 6px;
}

.hsNews_list li .hsNews_list_info{
    padding-left:30px; 
}

.hsNews_list li .hsNews_list_info span{
    font-size: 14px;
    line-height: 32px;
}

/*分页*/
.hsNews_page{
    margin-top: 40px;
    text-align: center;
}
.hsNews_page .pagination > li > a{
    padding:10px 16px;
}