.hsNotice{
    font-family: "微软雅黑";
}

/*导航栏*/

.hsNotice_nav{
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #ecf0f6;
}

.hsNotice_nav h3{
    line-height: 50px;
    font-size: 16px;
}

/*新闻内容*/

.hsNotice_main{
    padding:20px;
}

.hsNotice_main h4{
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    line-height: 80px;
}

.hsNotice_main_info{
    border-bottom: 1px solid #dddddd;
}

.hsNotice_main_info span{
    line-height: 40px;
    color:#595758;
}

.hsNotice_main_info .hsNotice_main_info_collect{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-right: 40px;
}

.hsNotice_main_info .hsNotice_main_info_collect:hover{
    color:#e56061;
}

.hsNotice_main_info .hsNotice_main_info_collect.current{
    color:#e56061;
}

.hsNotice_main_info .hsNotice_main_info_collect i{
    position: absolute;
    left:0;
    top:1px;
}
.hsNotice_main_cont{
    padding:20px 0;
}
.hsNotice_main_cont p{
    font-size: 16px;
    line-height: 40px;
    text-indent: 2em;
    margin-bottom: 20px;
}
.hsNotice_main_footer{
    margin-bottom: 20px;
}
.hsNotice_main_footer p{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}